.env
wsgi.py
debug.log
education4less/wsgi.py
latest.dump
scholar/__pycache__/__init__.cpython-36.pyc
scholar/__pycache__/admin.cpython-36.pyc
scholar/__pycache__/apps.cpython-36.pyc
scholar/__pycache__/filters.cpython-36.pyc
scholar/__pycache__/models.cpython-36.pyc
scholar/__pycache__/urls.cpython-36.pyc
scholar/__pycache__/views.cpython-36.pyc
scholar/migrations/__pycache__/0001_initial.cpython-36.pyc
scholar/migrations/__pycache__/__init__.cpython-36.pyc
scholar/templatetags/__pycache__/
users/__pycache__/__init__.cpython-36.pyc
users/__pycache__/admin.cpython-36.pyc
users/__pycache__/apps.cpython-36.pyc
users/__pycache__/forms.cpython-36.pyc
users/__pycache__/models.cpython-36.pyc
users/__pycache__/signals.cpython-36.pyc
users/__pycache__/views.cpython-36.pyc
users/migrations/__pycache__/0001_initial.cpython-36.pyc
users/migrations/__pycache__/__init__.cpython-36.pyc
education4less/__pycache__/__init__.cpython-36.pyc
education4less/__pycache__/settings.cpython-36.pyc
education4less/__pycache__/urls.cpython-36.pyc
education4less/__pycache__/wsgi.cpython-36.pyc