{% extends "scholar/base.html" %}{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Scholarship Name</th>
      <th>Award Amount</th>
      <th>Link</th>
      <th>Description</th>
      <th>Requirements</th>
    </tr>
  </thead>
  <tbody>
    {% for user in scholars %}
    <tr>
      <td>{{ user.scholarship_name }}</td>
      <td>{{ user.award_amount }}</td>
      <td>
        <a href="{{ user.scholarship_link }}" target="_blank"
          >{{ user.scholarship_name }}</a
        >
      </td>
      <td>{{ user.description }}</td>
      <td>
        <center><div id="menu">
          <a
            ><button id="btn-val">
              Open
            </button></a
          ><br />
          <div style="display: none">
            <p>{{ user.requirements }}</p>
          </div>
        </div>
        </center
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  <span class="step-links">
    {% if scholars.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ scholars.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ scholars.number }} of {{ scholars.paginator.num_pages }}.
    </span>

    {% if scholars.has_next %}
    <a href="?page={{ scholars.next_page_number }}">next</a>
    <a href="?page={{ scholars.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock content%}
