{% extends "scholar/base.html" %}{% block content %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

<!-- Search Fields  -->
<div class="row" id="searchFields">
  <div class="col">
    <form method="get">
      <div class="well">
        <h4 style="margin-top: 0">Filter</h4>
        <div class="row">
          <div class="form-group col-sm-4 col-md-3">
            Scholarship Name:
            {% render_field filter.form.scholarship_name class="form-control" %}
          </div><br>
          <div class="form-group col-sm-4 col-md-3">
            Description:
            {% render_field filter.form.description class="form-control" %}
          </div><br>
          <div class="form-group col-sm-4 col-md-3">
            Requirements:
            {% render_field filter.form.requirements class="form-control" %}
          </div>
          <div class="form-group col-sm-8 col-md-6">
            {{ filter.form.groups.label_tag }}
            <div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary text-center">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </div>
    </form>
  </div>
</div>
<br>


<!-- Search Button Fields  -->
<div class="row text-center" id="pageNav">
  <div class="col">

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if scholars.has_previous %}
        {% if 'scholarship_name' not in request.get_full_path %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo;First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ scholars.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if 'scholarship_name' in request.get_full_path %}
        <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page=1">&laquo;First</a></li>
        <li class="page-item"><a class="page-link"
            href="{{ request.get_full_path }}&page={{ scholars.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% endif %}
        <li class="page-item active">
          <a class="page-link" href="#"> Page {{ scholars.number }} of {{ scholars.paginator.num_pages }}.<span
              class="sr-only">(current)</span></a>
        </li>
        {% if scholars.has_next %}
        <!-- <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ scholars.next_page_number }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ scholars.paginator.num_pages }}">Last &raquo;</a></li> -->
        {% if 'scholarship_name' not in request.get_full_path %}
        <li class="page-item"><a class="page-link" href="?page={{ scholars.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ scholars.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
        {% if 'scholarship_name' in request.get_full_path %}
        <li class="page-item"><a class="page-link"
            href="{{ request.get_full_path }}&page={{ scholars.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link"
            href="{{ request.get_full_path }}&page={{ scholars.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
        {% endif %}
      </ul>
    </nav>

  </div>
</div>
<br>
<!-- Search Results Table  -->

<!-- <div class="row text-center" id="tableRow">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Scholarship Name</th>
          <th>Link</th>
          <th id="show">Description (On/Off)</td></th>
        </tr>
      </thead>
      <tbody>
      {% for sch in scholars %}
        
          <tr>
            <td>
            
  <div class="greetings">{% render_field sch.scholarship_name%}</div>
  </td>
            <td><a href="{{ sch.scholarship_link }}" target="_blank"
            >Apply</a
          ></td>
          <td>
          <p class="hldr text-warning">Display</p>
      <p style="display:none" class="desc">{{ sch.description }}</p>
          </td></tr>
        {% empty %}
          <tr>
            <td colspan="5">No data</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> -->
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Scholarship Name</th>
      <th scope="col">Award Amount</th>
      <th scope="col">Link</th>
      <th scope="col">Description</th>
      <th id="show">Requirements (On/Off)</th>
    </tr>
  </thead>
  <tbody>
    {% for user in scholars %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.scholarship_name }}</td>
      <td>{{ user.award_amount }}</td>
      <td>
        <a href="{{ user.scholarship_link }}" target="_blank">{{ user.scholarship_name }}</a>
      </td>
      <td>{{ user.description }}</td>
      <td>
        <p class="hldr text-warning">Display</p>
        <p style="display:none" class="desc">{{ user.requirements }}</p>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>





<!-- Search Button Fields Bottom  -->
<div class="row text-center" id="pageNav">
  <div class="col">

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if scholars.has_previous %}
        {% if 'scholarship_name' not in request.get_full_path %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo;First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ scholars.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if 'scholarship_name' in request.get_full_path %}
        <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page=1">&laquo;First</a></li>
        <li class="page-item"><a class="page-link"
            href="{{ request.get_full_path }}&page={{ scholars.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% endif %}
        <li class="page-item active">
          <a class="page-link" href="#"> Page {{ scholars.number }} of {{ scholars.paginator.num_pages }}.<span
              class="sr-only">(current)</span></a>
        </li>
        {% if scholars.has_next %}
        <!-- <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ scholars.next_page_number }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}&page={{ scholars.paginator.num_pages }}">Last &raquo;</a></li> -->
        {% if 'scholarship_name' not in request.get_full_path %}
        <li class="page-item"><a class="page-link" href="?page={{ scholars.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ scholars.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
        {% if 'scholarship_name' in request.get_full_path %}
        <li class="page-item"><a class="page-link"
            href="{{ request.get_full_path }}&page={{ scholars.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link"
            href="{{ request.get_full_path }}&page={{ scholars.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
        {% endif %}
      </ul>
    </nav>

  </div>
</div>
{% endblock content%}